{% extends 'base.html'%}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load static%}

{% block content %}
<div class="container">
        <div class="row" style="padding-top: 20px">
         
            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="card">
                    
                    <div class="card">
                            <center>
                                    <p style="font-style: italic;">WELCOME {{neighbourhood.location}} RESIDENCE</p>
                                </center>
                    </div>
                    <div class="card-body">
                            <br>
                            <h4 class="destitle">Contact Information</h4>
                            <br>
                            <br>
                            <p class="desc">POLICE :&nbsp;&nbsp;&nbsp;{{neighbourhood.police}} </p>
                            <p class="desc">HOSPITAL :&nbsp;&nbsp;&nbsp;{{neighbourhood.hospital}} </p>
                            <br>
                 <div class="footer">
                        <a href="exithood/{{neighbourhood.id}}"   style=""; class="btn btn-primary">EXIT GROUP</a>

                        <div class="card">
                        <a href="create/post"style=""; class="btn btn-primary">CREATE POST</a>
                                {%for post in posts%}
                                <p class="desc">DESCRIPTION:&nbsp;&nbsp;&nbsp;{{post.description}}  </p>
                                <p class="desc">LOCATION :&nbsp;&nbsp;&nbsp;{{post.location}} </p>
                                {% endfor %}  
                                <div class="card">
                                Comment 
                        </div>
                     <div class="footer">
                
                {%for post in posts%}
                 {{post.description}} 
                {{post.location}}
                 {% endfor %}
                         </div>
                    </div>
                
            
                            <center>
                                    <p style="font-style: italic;">WELCOME {{neighbourhood.location}} BUSINESS</p>
                                    <a href="business/"style=""; class="btn btn-primary">VIEW BUSINESS</a>
                                    <a href="create/post"style=""; class="btn btn-primary">CREATE BUSINESS</a>
                                </center>

                                <br>
                            <p class="desc">NAME:&nbsp;&nbsp;&nbsp;{{neighbourhood.name}} </p>
                            <p class="desc">DESCRIPTION :&nbsp;&nbsp;&nbsp;{{neighbourhood.Description}} </p>
                            <br>
                    </div>
            </div>         
          
        </div>
    </div>       
    </div>
    </div>
    {% endblock %}



