{% extends 'base.html'%}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load static%}

{% block content %}
<div class="container">
        <div class="row" style="padding-top: 20px">
            {%for neighbourhood in neighbourhoods %}
            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="card">
                    
                    <div class="card">
                        <h4>NAME: {{neighbourhood.name}}</h4>
                    </div>
                    <div class="card-body">
                        <p>LOCATION:{{neighbourhood.location}}</p>
                         <p>POPULATION:{{neighbourhood.Occupants_Count}}</p> 
                 <div class="footer">
                        <a href="join/"   style=""; class="btn btn-primary">JOIN</a>
                <a href="create/post"   style=""; class="btn btn-primary">CREATE POST</a>
                         </div>
                    </div>
                </div>
            </div>           
            {%endfor%}
                    
    </div>
    </div>
    {%endblock%}



