{% extends 'base.html'%}
{% load bootstrap3 %}
{% load bootstrap4 %}
{% load static%}

{% block content %}
<div class="container">
        <div class="row" style="padding-top: 20px">
            {%for neighbourhood in hoods %}
            <div class="col-md-12" style="margin-bottom:10px;">
                <div class="card">
                    
                    <div class="card">
                        <p>LOCATION:{{neighbourhood.location}}</p>
                    </div>
                    <div class="card-body">
                         <p>POPULATION:{{neighbourhood.Occupants_Count}}</p> 
                         <p>POLICE:{{neighbourhood.police}}</p>
                         <p>HOSPITAL:{{neighbourhood.hospital}}</p>

                 <div class="footer">
                        <a href="/join/{{neighbourhood.id}}"   style=""; class="btn btn-primary">JOIN</a>
                        <a href="/join/{{neighbourhood.id}}"   style=""; class="btn btn-primary">EXIT GROUP</a>
                         </div>
                    </div>
                </div>
            </div>           
            {%endfor%}
                    
    </div>
    </div>
    {%endblock%}



